<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src ="/resources/static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/resources/static/js/bootstrap/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="/resources/static/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Insert title here</title>
</head>
<body>

</body>
</html>